{% extends 'base/base.html' %}
{% load staticfiles %}


{% block content %}
    <section class="home-slider owl-carousel">
{#      <div class="slider-item" style="background-image: url('{% static 'images/slider-2.jpg' %}');">#}
{##}
{#        <div class="container">#}
{#          <div class="row slider-text align-items-center">#}
{#            <div class="col-md-7 col-sm-12 element-animate">#}
{#              <h1>We Care For You</h1>#}
{#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{#      </div>#}

      <div class="slider-item" style="background-image: url('{% static 'images/slider-1.jpg' %}');">
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h2>Personalize Health Reports with AI-Powered solutions</h2>
              <p>MEDIPort next-generation healthcare solutions personalizes your health report and gives you insights with lifestyle suggestions in just one click.</p>
            </div>
          </div>
        </div>

      </div>

    </section>



    <section class="section stretch-section">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center mb-5">
            <h2 class="text-uppercase heading border-bottom mb-4">ABOUT US</h2>
            <p class="mb-0 lead">We are on a mission to disrupt the healthcare industry and improve the lives of one million people by 2020.
Our dedicated team of engineers and subject matter experts are developing solutions leveraging technology to help patients understand their health profile.
We demystify medical jargons, helping patients to understand their medical history.
                Our in-house developed solutions help you identify future medical risks and provides valuable inputs to help you live a healthy and energetic life.</p>
          </div>
        </div>

          <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center mb-5">
            <h2 class="text-uppercase heading border-bottom mb-4">TESTS</h2>
            <p class="mb-0 lead"></p>
          </div>
        </div>
        <div class="row element-animate">

          <div class="major-caousel js-carousel-2 owl-carousel">
            <div>
              <div class="media d-block media-custom text-left">
{#                <img src="{% static 'images/img_thumb_1.jpg' %}" alt="Image Placeholder" class="img-fluid">#}
                <div class="media-body">
{#                  <span class="meta-post">December 2, 2017</span>#}
                  <h3 class="mt-0 text-black"><a href="{% url 'diabriskpred' %}" class="text-black"><center>Diabetes Screening Test</center></a></h3>
{#                  <center><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></center>#}
                    <br>
{#                  <p class="clearfix">#}
{#                    <a href="#" class="float-left">Read more</a>#}
{#                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>#}
{#                  </p>#}
                </div>
              </div>
            </div>


          </div>
          <!-- END slider -->
        </div>

        </div>
    </section>


    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center mb-5">
            <h2 class="text-uppercase heading border-bottom mb-4">Our TEAM</h2>
{#            <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi unde impedit, necessitatibus, soluta sit quam minima expedita atque corrupti reiciendis.</p>#}
          </div>
        </div>
        <div class="row element-animate">
          <div class="major-caousel js-carousel-1 owl-carousel">
            <div>
              <div class="media d-block media-custom text-center">
{#                <img src="{% static 'images/doctor_1.jpg' %}" alt="Image Placeholder" class="img-fluid">#}
                <div class="media-body">
                  <h3 class="mt-0 text-black">Shubham Jain</h3>
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                  <p>
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
{#                <img src="{% static 'images/doctor_2.jpg' %}" alt="Image Placeholder" class="img-fluid">#}
                <div class="media-body">
                  <h3 class="mt-0 text-black">Dr. Girish Srinivasan</h3>
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                  <p>
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
{#                <img src="{% static 'images/doctor_3.jpg' %}" alt="Image Placeholder" class="img-fluid">#}
                <div class="media-body">
                  <h3 class="mt-0 text-black">Akul Gupta</h3>
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                  <p>
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                  </p>
                </div>
              </div>
            </div>
              <div class="media d-block media-custom text-center">
{#                <img src="{% static 'images/doctor_1.jpg' %}" alt="Image Placeholder" class="img-fluid">#}
                <div class="media-body">
                  <h3 class="mt-0 text-black">Manthan Jain</h3>
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>#}
                  <p>
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                  </p>
                </div>
              </div>
            </div>
            <div>

            </div>
        </div>
      </div>
    </section>
{% endblock %}
