{% extends 'base/base.html' %}
{% load staticfiles %}


{% block content %}

    <style>
        label.required::after {
    content: ' *';
    color: red;
}
    </style>
    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url('{% static 'images/slider-1.jpg' %}');">
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h2>Diabetes Screening Test</h2>
              <p>Diabetes Mellitus is a major cardiovascular factor and one of the major causes of morbidity and mortality worldwide. Diabetes complications have not only caused a major impact on the quality of life of diabetic patients but are also potentially life-threatning.</p>
            </div>
          </div>
        </div>

      </div>

    </section>
    <section class="section">
    <div class="container">
         <form method="post">

                {% csrf_token %}

             <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name" class="required">Name</label>
                  <input type="text" name="name" class="form-control form-control-lg" id="name" required>
                </div>
              </div>


             <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Gender</label>
                <select class="form-control" id="exampleFormControlSelect1" name="gender" required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
             </div>

             <div class="row">
                <div class="col-md-12 form-group">
                  <label for="age" class="required">Age</label>
                  <input type="number" name="age" class="form-control form-control-lg" id="age" required>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="tcl">Total Cholesterol level(in mg/dl)</label>
                  <input type="number" name="total_cholestrol" class="form-control form-control-lg" id="tcl">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="hcl">HDL Cholesterol level(in mg/dl)</label>
                  <input type="number" name="hdl_cholestrol" class="form-control form-control-lg" id="hcl">
                </div>
              </div>

             <div class="row">
                <div class="col-md-12 form-group">
                  <label for="weight" class="required">Weight(in KG)</label>
                  <input type="number" name="weight" class="form-control form-control-lg" id="weight" required>
                </div>
              </div>

             <div class="row">
                <div class="col-md-12 form-group">
                  <label for="height" class="required">Height(in cm)</label>
                  <input type="number" name="height" class="form-control form-control-lg" id="height" required>
                </div>
              </div>

             <!-- <div class="row">
                <div class="col-md-12 form-group">
                  <label for="waist" class="required">Waist Circumference(in cm)</label>
                  <input type="number" name="waist" class="form-control form-control-lg" id="waist" required>
                </div>
              </div>

             <div class="row">
                <div class="col-md-12 form-group">
                  <label for="hip" class="required">Hip Circumference(in cm)</label>
                  <input type="number" name="hip" class="form-control form-control-lg" id="hip" required>
                </div>
              </div> -->

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Is Physically Active on daily basis? (30 minutes of general exercise)</label>
                <select class="form-control" id="exampleFormControlSelect1" name="physically_active" required>
                  <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Eats Vegetables and Fruits on daily basis?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="eat" required>
                  <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Ever taken High BP medications?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="bp" required>
                 <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Do your Blood relatives have Diabetes?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="relative_diabetes" required>
                  <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Do your Parent and Sibling have Diabetes?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="parent_diabetes" required>
                  <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Ever had High Glucose level?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="glucose" required>
                  <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Smoking Status</label>
                <select class="form-control" id="exampleFormControlSelect1" name="smoking" required>
                 <option value="" disabled selected>Select</option>
                  <option value="Never smoked">Never smoked</option>
                  <option value="Ex-smoker">Ex-smoker</option>
                    <option value="Low-smoker(<=10/month)">Low-smoker(<=10/month)</option>
                    <option value="Mid-smoker(11-20/month)">Mid-smoker(11-20/month)</option>
                    <option value="High-smoker(>20/month)">High-smoker(>20/month)</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Ever Diagnosed with any Heart Disease?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="heart_disease" required>
                 <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

              <div class="row">
                 <div class="col-md-12 form-group">
                <label for="exampleFormControlSelect1" class="required">Are you on Steroids, Depression, Antipsychotic drugs?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="depression" required>
                  <option value="" disabled selected>Select</option>
                    <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Maybe">Maybe</option>
                </select>
              </div>
             </div>

             <div class="row">
                <div class="col-md-12 form-group">
                  <label for="HbA1c">HbA1c level</label>
                  <input type="number" name="HbA1c" class="form-control form-control-lg" id="HbA1c">
                </div>
              </div>

             <div class="row">
                <div class="col-md-12 form-group">
                  <label for="haem">Haemoglobin level(in g/dl)</label>
                  <input type="number" name="haem" class="form-control form-control-lg" id="haem">
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
                </div>

              </div>
            </form>
    </div>
    </section>


{% endblock %}
